<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="C:\Users\ASUS\AppData\Local\Programs\Python\Python38\python.exe|C:\Users\ASUS\AppData\Local\Programs\Python\Python38\Scripts\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\FastApi" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\FastApi\app.log" />
  </appSettings>
</configuration>

